.form-box {
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 525px;
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
}

.form-box-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[type="submit"] {
  color: yellow;
  background-color: black;
}
