nav {
  background-color: rgb(232, 164, 61);
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.session-links {
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.session-links a {
  margin: 1rem;
}

.container > li {
  flex: 1;
}

.home-button {
  width: 4rem;
}

.log-nav-button {
  margin-left: 1rem;
}
